@font-face {
  font-family: Pilowlava-Regular;
  src: url("./components/fonts/Pilowlava-Regular.otf");
}

@font-face {
  font-family: Font Mutabor;
  src: url("./components/fonts/Font\ Mutabor.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow: hidden; */
  /* overflow-y: scroll !important; */
}

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
}

html,
body {
  margin: 0px;
  padding: 0;
  width: 100%;
  height: 100%;
  scrollbar-width: none;
  /* overflow-x: hidden;
    overflow-y: hidden; */
}

#rootdiv1 {
  /* overflow-y: scroll; */
  /* margin-top: 4vh; */
  /* height: 2000%; */
  /* display: flex; */
  display: inline-block;
  background-color: black;
  /* overflow: visible; */
}

#fronttext {
  background-color: #ffbe00;
}

#rootdiv {
  /* display: flex; */
  overflow: hidden;
}

/* .lrroot
{
    overflow: visible !important;
} */

#backimgsection {
  margin-top: calc(30px + 2vh + 60px);
  margin-bottom: 50px;
  height: 20%;
  text-align: center;
}

#backimg {
  max-height: 100%;
  /* background-size: cover;
    margin-left: 40.5vw; */
}

#backtextsection {
  height: 50%;
}

#backtext {
  margin-bottom: calc(30px + 2vw) !important;
  /* overflow: hidden; */
  margin-top: 30px;
  /* height: 50vh; */
  color: #fff;
  font-family: Font Mutabor;
  width: 60%;
  text-align: center;
  margin: 20px auto;
  font-size: calc(1vw + 0.8vh + 0.6vmin);
}

#text1 {
  height: 10vh;
  text-align: center;
  /* overflow: hidden; */
  width: 70%;
  margin: auto;
}

#text2 {
  height: 25vh;
  text-align: center;
  /* overflow: hidden; */
  width: 70%;
  margin: auto;
}

#text3 {
  height: 17vh;
  text-align: center;
  /* overflow: hidden; */
  width: 70%;
  margin: auto;
}

#text1,
#text2,
#text3 > h5 {
  color: aquamarine;
  font-size: 30px;
}

#middiv {
  width: 100%;
}

.App {
  text-align: center;
}

#topbottom {
  z-index: 100;
  width: 98vw;
  height: 30px;
  background-image: url("./components/images/border/combined-border.png");
  background-color: #fff;
  background-size: 30% 30px;
  position: fixed;
  top: 2%;
  left: 1%;
  animation: scroll 100s linear infinite;
}

#topbottom1 {
  z-index: 100;
  width: 98vw;
  height: 30px;
  background-image: url("./components/images/border/combined-border.png");
  background-size: 30% 30px;
  background-color: #fff;
  position: fixed;
  bottom: 2%;
  left: 1%;
  animation: scroll2 100s linear infinite;
}

.text-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  top: -100%;
}

#menu-svg {
  width: 100%;
  height: 100%;
}

#svg-text {
  font-family: Font Mutabor;
  font-size: 10px;
}

@keyframes scroll {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: -1000%;
  }
}

@keyframes scroll2 {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 1000%;
  }
}

/* Border image */

#borderImg1 {
  min-height: 100%;
  height: 30px;
  margin-bottom: 0px !important;
  width: 100%;
  float: left;
}

#top_bottom_border {
  margin-top: 0px;
  display: flex;
}

#leftrightimg {
  position: fixed;
  left: 1%;
  top: 2%;
  height: 96vh;
  z-index: 101;
  width: 30px;
  background-image: url("components/images/leftmargin.png");
  background-size: cover;
}

#leftrightimg1 {
  position: fixed;
  right: 1%;
  top: 2%;
  height: 96vh;
  z-index: 101;
  width: 30px;
  background-image: url("components/images/leftmargin.png");
  background-size: cover;
  /* background-repeat: repeat; */
}

/* ******************* */

#maindiv {
  background-color: #284da9;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.box {
  display: inline-block;
  background-color: #ffbe00;
  background-size: contain;
  width: 100%;
  height: 100%;
  /* filter: contrast(0.5) grayscale(100%); */
  overflow: hidden;
}

body {
  width: 100vw;
  height: 100vh;
}

canvas {
  /* background: transparent;
  overflow: hidden;
  width: 100%;
  position: absolute;
  /* top: 20%; 
  opacity: 0.9;
  z-index: -1;
  filter: contrast(0.5) grayscale(100%); */
  margin: 0;
  padding: 0;
  opacity: 0.7;
  position: fixed;
  touch-action: none;
  width: calc(100% - 2px); /* for borders */
  height: calc(100% - 2px); /* for borders */
  border: 1px dashed;
  top: 0;
  z-index: 101;
  left: 0;
}

#btndiv {
  display: inline-block;
  width: 30%;
  padding: 10px;
  /* height: 2.79vw; */
  border-radius: 10px;
  /* background-image: url("components/images/button.png"); */
  background-color: black;
  background-size: contain;
  background-repeat: no-repeat;
  box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: 0.3s;
  transform: translateY(-10px);
}

#btndiv p {
  font-family: Font Mutabor;
  font-size: 15px;
  color: #fff;
  text-align: center;
}

#btndiv:hover {
  transform: translateY(-9px);
  box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.3);
}

#btndiv:active {
  transform: translateY(-5px);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}

#textdiv {
  font-family: Font Mutabor;
  display: inline-block;
  width: calc(70% - 30px);
  /* font-weight: 700; */
  font-size: calc(0.3vw + 0.2vh + 0.4vmin);
  margin-left: 20px;
  color: #fff;
}

#contact {
  margin-bottom: 10px;
  color: #fff;
}

#contact2 {
  font-family: Pilowlava-Regular;
  color: #fff;
  position: relative;
  top: 25%;
  left: 5%;
  transform: translateY(-50%);
}

#textimg2 {
  color: #fff;
  font-family: Font Mutabor;
  font-size: 10px;
  position: relative;
  top: 35%;
  left: 5%;
  transform: translateY(-50%);
}

.madeby {
  color: #fff;
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  font-family: Font Mutabor;
  font-size: 10px;
  border-radius: 10px;
  border: 1px white solid;
  padding: 10px 20px;
}

.contact-wrapper {
  position: relative;
  left: 57%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.contact-wrapper2 {
  position: relative;
  left: 0%;
  top: 0%;
  transform: translate(0%, 0%);
}

a {
  color: white;
}

.info-contact {
  width: calc(95vw - 60px - 2vw);
  height: 130px;
  margin-left: calc(30px + 1vw);
  position: relative;
  top: calc(-30px - 1vw);
  border: 1px white solid;
  display: inline-block;
}

#social_icons2 {
  border: 1px solid white;
  width: 5vw;
  height: 130px;
  display: inline-block;
  position: relative;
  top: 13.5px;
}

#textdiv1 {
  display: none;
}

.sidetextdiv {
  display: none;
}

.circle {
  margin-top: 10px;
  height: auto;
  width: 100%;
}

#backpart {
  background-color: #ffbe00;
  height: 100%;
}

.circletopleft {
  position: relative;
  height: 14vw;
  background-image: url("./components//images//topleft_noeyes.png");
  border-radius: 50%;
  background-size: contain;
  margin-top: 50px;
  margin-left: 5.8vw;
  width: 14vw;
  /* overflow: hidden; */
}

#backimage {
  margin-left: 42%;
  margin-top: 10%;
}

#backimage1 {
  width: 80%;
  margin-left: 21px;
  margin-top: 13%;
}

.circletopright {
  position: relative;
  height: 14vw;
  margin-top: 50px;
  right: -10px;
  margin-left: 7vw;
  /* background-color: aquamarine; */
  border-radius: 50%;
  width: 14vw;
}

.circleBottom {
  width: 100%;
}

#topflex {
  display: flex;
  margin-top: calc(2vh + 30px);
  margin-left: calc(1vw + 30px);
  margin-right: calc(1vw + 30px);
  height: 55vh;
  /* width: calc94vw; */
}

#topborderdiv {
  margin-bottom: 0px !important;
  /* overflow: hidden; */
}

#topborderdiv1 {
  position: absolute;
  margin-top: 90vh;
  margin-bottom: 0px !important;
}

#toprightdiv {
  width: 50%;
  border: 1px #111 solid;
}

#hero-img {
  background-color: #fff;
  background-image: url("components/images/topright.png");
  background-size: 40vw;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 2px #111 solid;
  width: 100%;
  height: 100%;
}

/* Rotate top right image */

.rotate {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

#topleftdiv {
  width: 50%;

  flex-flow: wrap;
}

#topleftimg {
  display: flex;
  border: 1px solid #111;
  height: 70%;
}

#topleftcontactdiv {
  display: flex;
  width: 99.9%;
  border: 1px solid #111;
  height: 30%;
}

#belowtopleftcontactdiv {
  height: 100%;
  /* margin-top: 20px; */
  width: 90%;
}

#social_icons {
  border-left: 1px solid #111;
  width: 10%;
  /* height: 99.9%; */
  /* float: right; */
}

#instagram {
  background-image: url("./components/images/inst_yellow-inverted.png");
  background-size: 40%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  height: 50%;
}

#instagram:active {
  background-image: url("./components/images/inst_yellow.png");
}

.instg:active {
  background-color: #ffbe00 !important;
}

#facebook {
  background-image: url("./components/images/Facebook-yellow.png");
  background-size: 40%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #ffbe00;
  height: 50%;
}

#facebook:active {
  background-image: url("./components/images/Facebook-yellow-inverted.png");
}

.faceb:active {
  background-color: #000 !important;
}

.info-fb {
  background-color: white !important;
  background-image: url("./components/images/Facebook.png") !important;
}

.info-in {
  background-color: black !important;
  background-image: url("./components/images/inst_white.png") !important;
}

.info-fb:active {
  filter: invert(1);
}

.info-in:active {
  filter: invert(1);
}

#backbottomimg {
  margin-top: 2.27vh;
  margin-left: 4vw;
}

#cardDiv {
  display: flex;
  /* flex-direction: row;
    flex-flow: wrap;
    flex: 0 1 100%; */
  width: 94vw;
  margin-left: calc(1vw + 30px);
  height: calc(100vh - 60px - 4vh - 55vh);
  top: 0%;
  left: 0%;
  /* overflow: hidden; */
}

svg {
  float: left;
}

.imgcircle {
  max-width: 100%;
  max-height: 100%;
}

#contact {
  font-family: Pilowlava-Regular;
}

.image-card-wrapper {
  height: 80%;
  width: auto;
}

.flip-card {
  background-color: transparent;
  width: 25vh;
  height: 100%;
  perspective: 1000px;
}

.product-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px #111 solid;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 105%;
}

.flip-card-back .product-image {
  width: 100%;
  height: 50%;
  border-radius: 50%;
  border: 0px red solid;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
}

.flip-card-back .image-card-wrapper p {
  transform: translateY(-20px);
  font-size: 7px;
  border: 0;
  background-color: transparent;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #304fad;
  color: black;
}

.flip-card-front img {
  width: 100%;
}

.flip-card-front p {
  width: 100%;
  height: 20%;
  font-family: Font Mutabor;
  font-size: calc(0.3vw + 0.2vh + 0.2vmin);
  /* line-height: 130%; */
  padding-top: 4%;
  /* font-size: 6px; */
  text-align: center;
  /* height: 21%; */
  /* transform: translateY(-4px); */
  background-color: #ffbe00;
  border: 1px #111 solid;
}

.flip-card-back p {
  width: 100%;
  height: 20%;
  font-family: Font Mutabor;
  font-size: calc(0.6vw + 0.5vh + 0.5vmin);
  line-height: 130%;
  padding-top: 7%;
  /* font-size: 6px; */
  text-align: center;
  color: #000;
  /* height: 21%; */
  /* transform: translateY(-4px); */
  background-color: #ffbe00;
  border: 1px #111 solid;
}

.flip-card-back {
  background-color: #ffbe00;
  /* color: white; */
  transform: rotateY(180deg);
}

#Cards {
  height: 100%;
  width: 25vh;
  /* background-color: blanchedalmond; */
  /* display: flex; */
  /* flex-direction: column; */
  transition: all 0.5s ease;
  overflow: hidden;
  border: 1px solid #111;
}

#frontimgdiv {
  height: 70%;
}

#fronttext {
  transform: translateY("50px");
  height: 10vh;
  font-family: Font Mutabor;
  font-size: calc(0.3vw + 0.3vh + 0.4vmin);
  text-align: center;
}

#imgandtext {
  height: 100%;
}

@keyframes scroll {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: -1000%;
  }
}

#Cards:hover #section1 {
  transform: rotateY(180deg);
}

#frontpart {
  position: absolute;
  /* width: 100%;
    height: 10%; */
  backface-visibility: hidden;
}

#bd {
  border-top: 1px solid #111;
  margin-top: 0.7vh;
}

#backbottoming {
  margin-top: 1.5vh;
  margin: 10px;
}

#backpart {
  border: 1px solid #111;
  position: relative;
  width: 100%;
  height: 99.9%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

#cardimg {
  height: 100%;
}

#Cards #section1 {
  /* height: 100%; */
  /* width: 100%; */
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}

.rot {
  width: 150px;
}

.circles {
  width: 70%;
  display: flex;
  height: 150px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rot-wrap {
  width: 100%;
  height: 100%;
}

.rot-wrap2 {
  margin-top: calc(30px + 2vh);
  width: 100%;
  height: 40vh;
}

.rot2 {
  width: 150px;
  height: 150px;
  position: absolute;
  right: 0;
}

.rotInfo {
  width: 150px;
  height: 150px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.face {
  width: 150px;
  height: 150px;
  /* background-color: chartreuse; */
  background-size: contain;
  background-image: url("./components/images/topleft_noeyes.png");
  /* position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
  border-radius: 50%;
}

.face-b {
  width: 150px;
  height: 150px;
  /* background-color: chartreuse; */
  background-size: contain;
  background-image: url("./components/images/topleft.png");
  /* position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
  border-radius: 50%;
}

.face2 {
  width: 150px;
  height: 150px;
  /* background-color: chartreuse; */
  background-size: contain;
  background-image: url("./components/images/topleft_rightimgred.png");
  /* position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
  border-radius: 50%;
}

.face6 {
  width: 150px;
  height: 150px;
  /* background-color: chartreuse; */
  background-size: contain;
  background-image: url("./components/images/infopageimg1.png");
  /* position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
  border-radius: 50%;
}

.wrapper {
  background-color: transparent;
  border-radius: 50%;
  width: 11px;
  height: 14px;
  position: relative;
  top: 36.1%;
  overflow: hidden;
  /* background-color: aquamarine; */
  left: 34%;
}

.eye {
  /* background-color: coral; */
  border-radius: 50%;
  background-image: url("./components//images//ebleft.png");
  background-size: contain;
  width: 6px;
  height: 15px;
  margin-left: 2px;
}

.wrapper2 {
  background-color: transparent;
  border-radius: 50%;
  width: 11px;
  height: 14px;
  position: relative;
  top: 27%;
  overflow: hidden;
  /* background-color: aquamarine; */
  left: 49.5%;
}

.eye2 {
  /* background-color: coral; */
  border-radius: 50%;
  background-image: url("./components//images//ebleft.png");
  background-size: contain;
  width: 6px;
  height: 15px;
  margin-left: 2px;
}

.wrapper3 {
  background-color: transparent;
  border-radius: 50%;
  width: 20px;
  height: 27px;
  position: relative;
  top: 35%;
  overflow: hidden;
  /* background-color: aquamarine; */
  left: 31%;
}

.eye3 {
  background-image: url("./components//images//ebleft.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 13px;
  height: 25px;
  margin-left: 2px;
}

.wrapper4 {
  background-color: transparent;
  border-radius: 50%;
  width: 20px;
  height: 25px;
  position: relative;
  top: 18%;
  overflow: hidden;
  /* background-color: aquamarine; */
  left: 58%;
}

.eye4 {
  /* background-color: coral; */
  border-radius: 50%;
  background-image: url("./components//images//ebleft.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 13px;
  height: 25px;
  margin-left: 2px;
}

.wrapper5 {
  background-color: transparent;
  border-radius: 50%;
  width: 18px;
  height: 22px;
  position: relative;
  top: 38%;
  overflow: hidden;
  /* background-color: aquamarine; */
  left: 33.5%;
}

.eye5 {
  background-image: url("./components//images//ebleft.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 12px;
  height: 22px;
  margin-left: 2px;
}

.wrapper6 {
  background-color: transparent;
  border-radius: 50%;
  width: 18px;
  height: 22px;
  position: relative;
  top: 23%;
  overflow: hidden;
  /* background-color: aquamarine; */
  left: 56%;
}

.eye6 {
  /* background-color: coral; */
  border-radius: 50%;
  background-image: url("./components//images//ebleft.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 11px;
  height: 22px;
  margin-left: 2px;
}

#cardimg img {
  /* height: 20%; */
  max-width: 100%;
  /* min-width: 100%; */
  /* width: 100%; */
}

.mobile-box {
  width: 140%;
  height: 300px;
  position: relative;
  left: -20%;
  top: 25%;
  /* background-color: #ffbe00; */
  background-image: url(./components/images/box-info.png);
  background-size: 105%;
  background-position: center;
  background-repeat: no-repeat;
  display: none;
}

.mobile-social,
.mobile-text {
  display: none;
}

@media screen and (max-width: 768px) {
  #topbottom,
  #topbottom1 {
    background-size: 70% 30px;
  }

  #textimg {
    /* background-color: black; */
    text-align: center;
    height: 10vh;
    font-size: x-small;
  }

  #textdiv {
    margin-left: 108px !important;
  }

  .face6 {
    transform: scale(1.5);
  }

  .mobile-box {
    display: block;
  }

  .mobile-social {
    display: block;
    height: 70px;
    border: 2px solid black;
    margin-top: 20px;
  }

  .mobile-social #facebook,
  .mobile-social #instagram {
    display: inline-block;
    width: 50%;
    height: 100%;
    background-size: 30%;
  }

  .mobile-text {
    display: block;
    color: black;
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    font-family: Font Mutabor;
    /* width: 100%; */
  }

  .bekishev {
    text-decoration: underline;
  }

  .info-contact {
    margin-top: 20px;
    background-color: #fff;
    width: calc(100vw - 60px - 2vw);
    color: black;
    height: 300px;
  }

  #social_icons2,
  #textimg2,
  .madeby {
    display: none;
  }

  #contact2 {
    color: black;
    position: unset;
    transform: translate(0);
    text-align: center;
    margin-top: 20px;
  }

  .rot2 {
    display: none;
  }

  #topflex {
    flex-flow: column;
    height: 56%;
  }

  .circles {
    width: unset;
  }

  #social_icons {
    display: none;
  }

  #contact {
    width: 100%;
    font-size: 20px;
    line-height: 80px;
    text-align: center;
    height: 80px;
    border-bottom: 1.5px solid black;
  }

  #topleftcontactdiv {
    height: 50%;
  }

  #topleftimg {
    height: 60%;
  }

  .face {
    transform: scale(1) !important;
    margin-left: 32vw;
  }

  #toprightdiv {
    display: none;
  }

  .contact-wrapper {
    position: unset;
    transform: translate(0);
  }

  #belowtopleftcontactdiv {
    width: 100%;
  }

  #topleftdiv {
    width: 100%;
  }

  #btndiv {
    display: none;
  }

  #textdiv {
    width: calc(100% - 30px);
    font-size: calc(0.8vw + 0.6vh + 0.5vmin);
  }
}

@media screen and (min-height: 800px) {
  .face {
    transform: scale(1.5);
  }
  .rot2 {
    transform: scale(1.5);
  }
}

@media (max-width: 800px) {
  .circles {
    width: 94%;
  }
  #btndiv p {
    font-size: 9px;
  }

  #textdiv {
    font-family: Font Mutabor;
    display: inline-block;
    width: calc(70% - 30px);
    /* font-weight: 700; */
    font-size: calc(0.3vw + 0.2vh + 0.4vmin);
    margin-left: 12px;
    color: #fff;
    word-break: break-word;
  }
}

@media (max-width: 426px) {
  .face {
    transform: scale(1) !important;
    margin-left: 22vw;
  }

  #cardDiv {
    margin-top: 4px;
  }
  #textdiv {
    width: 100%;
    margin-left: 0px !important;
  }

  #cardDiv {
    display: inline-block !important;
  }
  #Cards {
    height: 63vh;
    width: 63vh;
  }
  .flip-card {
    width: 63vh;
  }
  #topleftcontactdiv {
    height: 53% !important;
  }
  #maindiv {
    overflow-y: scroll;
  }
  #topflex {
    height: 58%;
  }
}

@media (max-width: 375px) {
  .face {
    transform: scale(1) !important;
    margin-left: 22vw;
  }

  #cardDiv {
    margin-top: 4px;
  }
  #textdiv {
    width: 100%;
    margin-left: 0px !important;
  }

  #cardDiv {
    display: inline-block !important;
  }
  #Cards {
    height: 65vh;
    width: 54vh;
  }
  .flip-card {
    width: 63vh;
  }

  .flip-card-inner {
    width: 85%;
  }

  #topleftcontactdiv {
    height: 53% !important;
  }
  #maindiv {
    overflow-y: scroll;
  }
  #topflex {
    height: 60%;
  }
}

@media (max-width: 320px) {
  .face {
    transform: scale(1.2) !important;
    margin-left: 14vw;
  }

  .face {
    transform: scale(1.2) !important;
    margin-left: 14vw;
  }

  #topleftimg {
    height: 75%;
  }

  .flip-card-inner {
    width: 100%;
  }

  #topflex {
    flex-flow: column;
    height: 69.4% !important;
  }

  #cardDiv {
    display: inline-block !important;
  }
  #Cards {
    height: 42vh !important;
    width: 45vh;
  }
  .flip-card {
    width: 44vh;
  }
}

/* **************************************************** */
