@font-face {
  font-family: Pilowlava-Regular;
  src: url("./components/fonts/Pilowlava-Regular.otf");
}

@font-face {
  font-family: Font Mutabor;
  src: url("./components/fonts/Font\ Mutabor.otf");
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0px;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: visible;
}

#rootdiv1 {
  overflow-y: scroll;
}

#fronttext {
  background-color: #ffbe00;
}

#rootdiv {
  display: flex;
}

#backimgsection {
  margin-top: 50px;
  height: 30%;
}

#backimg {
  max-height: 100%;
  background-size: cover;
  margin-left: 40.5vw;
}

#backtextsection {
  height: 50%;
}

#backtext {
  /* margin-left: 19vw; */
  overflow: hidden;
  margin-top: 30px;
  height: 50vh;
}

#text1 {
  height: 10vh;
  text-align: center;
  overflow: hidden;
  width: 70%;
  margin: auto;
}

#text2 {
  height: 25vh;
  text-align: center;
  overflow: hidden;
  width: 70%;
  margin: auto;
}

#text3 {
  height: 17vh;
  text-align: center;
  overflow: hidden;
  width: 70%;
  margin: auto;
}

#text1,
#text2,
#text3 > h5 {
  color: aquamarine;
  font-size: 30px;
}

#middiv {
  width: 100%;
}

#rootdiv1 {
  margin-top: 4vh;
  height: 92.4vh;
  display: flex;
  background-color: black;
}

.App {
  text-align: center;
}

#topbottom {
  z-index: 1;
  width: 100vw;
  height: 4vh;
  background-image: url("./components/images/border/border1.png");
  background-size: 20% 30px;
  position: fixed;
  top: 0%;
  left: 0%;
  animation: scroll 100s linear infinite;
}

#topbottom1 {
  z-index: 1;
  width: 100vw;
  height: 4vh;
  background-image: url("./components/images/border/border1.png");
  background-size: 20% 30px;
  position: fixed;
  bottom: 0%;
  left: 0%;
  animation: scroll 100s linear infinite;
}
@keyframes scroll {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: -1000%;
  }
}

/* Border image */

#borderImg1 {
  min-height: 100%;
  height: 30px;
  margin-bottom: 0px !important;
  width: 100%;
  float: left;
}

#top_bottom_border {
  margin-top: 0px;
  display: flex;
}

#leftrightimg {
  position: fixed;
  left: 0;
  top: 4%;
  height: 92vh;
  z-index: 1;
  width: 30px;
  background-image: url("components/images/leftmargin.png");
  background-size: cover;
}

#leftrightimg1 {
  position: fixed;
  right: 0;
  top: 4%;
  height: 92vh;
  z-index: 1;
  width: 30px;
  background-image: url("components/images/leftmargin.png");
  background-size: cover;
  /* background-repeat: repeat; */
}

/* ******************* */

#maindiv {
  background-color: #304fad;
  height: auto;
}

#contactnumberdiv {
  display: flex;
}

#textdiv {
  font-family: Font Mutabor;
  position: relative;
  top: -20px;
  font-weight: 700;
  font-size: calc(0.3vw + 0.5vh + 0.5vmin);
}

#textdiv1 {
  display: none;
}

.sidetextdiv {
  display: none;
}

.circle {
  margin-top: 10px;
  height: auto;
  width: 100%;
}

#backpart {
  background-color: #ffbe00;
  height: 100%;
}
.circletopleft {
  position: relative;
  height: 14vw;
  background-image: url("./components//images//topleft_noeyes.png");
  border-radius: 50%;
  background-size: contain;
  margin-top: 50px;
  margin-left: 5.8vw;
  width: 14vw;
  overflow: hidden;
}

#backimage {
  margin-left: 42%;
  margin-top: 10%;
}

#backimage1 {
  width: 80%;
  margin-left: 21px;
  margin-top: 13%;
}

.circletopright {
  position: relative;
  height: 14vw;
  margin-top: 50px;
  right: -10px;
  margin-left: 7vw;
  background-color: aquamarine;
  border-radius: 50%;
  width: 14vw;
}

.circleBottom {
  width: 100%;
}

#topflex {
  display: flex;
  margin-top: 4vh;
  margin-left: 2vw;
  height: 60vh;
  width: 96vw;
}

#topborderdiv {
  margin-bottom: 0px !important;
  overflow: hidden;
}

#topborderdiv1 {
  position: absolute;
  margin-top: 90vh;
  margin-bottom: 0px !important;
}

#toprightdiv {
  width: 49.7%;
}

/* Rotate top right image */
.rotate {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

#topleftdiv {
  width: 50%;
  border: 1px solid black;
  flex-flow: wrap;
}
#topleftimg {
  display: flex;
  height: 70%;
}
#topleftcontactdiv {
  display: flex;
  width: 99.9%;
  border: 1px solid black;
  height: 30%;
}

#belowtopleftcontactdiv {
  height: 17vh;
  margin-top: 20px;
  width: 90%;
}

#social_icons {
  border-left: 1px solid black;
  width: 11%;
  height: 99.9%;
  float: right;
}

#socialicons {
  max-width: 100%;
  min-height: 100%;
}

#instagram {
  background-image: url("./components/images/inst_white.png");
  background-size: 35%;
  background-position: center;
  background-repeat: no-repeat;
  height: 50%;
}

#facebook {
  background-image: url("./components/images/Facebook.png");
  background-size: 35%;
  background-position: center;
  background-repeat: no-repeat;

  height: 50%;
}

#facebookimg,
#instagramimg {
  height: 1.2vw;
  width: 1vw;
  margin-top: 2.9vh;
  margin-left: 2vh;
  min-width: 40%;
  max-height: 100%;
}

#backbottomimg {
  margin-top: 2.27vh;
  margin-left: 4vw;
}

#topleftcontactdiv h2 {
  word-wrap: break-word;
  position: relative;
  margin-left: 50px;
  top: -12px;
  margin-bottom: 0px;
}

#cardDiv {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  width: 96vw;
  margin-left: 2vw;
  height: 32vh;
  top: 0%;
  left: 0%;
  /* position: fixed; */
}

svg {
  float: left;
}

.imgcircle {
  max-width: 100%;
  max-height: 100%;
}

#buttonaddress {
  margin-top: 0px !important;
  margin-left: 60px;
}

#contact {
  margin-bottom: 0px !important;
  padding-top: 12px;
  margin-left: 40px;
  font-family: Pilowlava-Regular;
}

#Cards {
  height: 100%;
  width: 16.657%;
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease;
}

@keyframes scroll {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: -1000%;
  }
}

#Cards:hover #section1 {
  transform: rotateY(180deg);
}

#frontpart {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

#bd {
  border-top: 2px solid black;
  margin-top: 0.7vh;
}

#backbottoming {
  margin-top: 1.5vh;
  margin: 10px;
}

#backpart {
  border: 1px solid black;
  position: relative;
  width: 100%;
  height: 99.9%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}
#cardimg {
  height: 100%;
}

#Cards #section1 {
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}

#addressbtndiv {
  display: flex;
  position: relative;
  top: 10px;
}

#btndiv {
  width: 50%;
  float: left;
}

.face {
  width: 200px;
  height: 200px;
  /* background-color: chartreuse; */
  background-size: contain;
  background-image: url("./components/images/topleft_noeyes.png");
  /* position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
  border-radius: 50%;
}

.wrapper {
  background-color: transparent;
  border-radius: 50%;
  width: 13px;
  height: 19px;
  position: relative;
  top: 36%;
  overflow: hidden;
  /* background-color: aquamarine; */
  left: 34%;
}

.eye {
  /* background-color: coral; */
  border-radius: 50%;
  background-image: url("./components//images//ebleft.png");
  background-size: contain;
  width: 8px;
  height: 18px;
  margin-left: 2px;
}

/* **************************************************** */

@media screen and (max-width: 2570px) and (min-width: 1921px) {
  #maindiv {
    height: auto;
  }

  #cardimg img {
    height: 100%;
    max-width: 100%;
    min-width: 100%;
    width: 100%;
  }
  #buttonaddress {
    margin-top: 0px !important;
    margin-left: 30px;
  }
}

/* **************************************************** */

@media screen and (max-width: 1920px) and (min-width: 1440px) {
  #maindiv {
    height: auto;
  }

  #contactnumberdiv {
    display: flex;
  }

  #frontimgdiv {
    height: 24vh;
  }

  #frontcardimg {
    height: 100%;
  }

  #fronttext {
    overflow: hidden;
    word-break: break-all;
    border: 1px solid black;
  }

  #fronttext h5 {
    padding-top: 2%;
    padding-left: 8%;
    padding-right: 8%;
  }

  #x {
    position: relative;
    top: 76.8px;
    height: 20px;
    overflow: hidden;
  }

  #lefteb {
    height: 16.8px;
    width: 8px;
    background-color: black;
    /* background-image: url(./components/images/lefteyeball.png); */
    position: relative;
    /* top: 79.9px; */
    border-radius: 50%;
    left: 73px;
  }

  #righteb {
    height: 16.5px;
    width: 8px;
    background-color: black;
    border-radius: 50%;
    position: relative;
    top: -16px;
    left: 105px;
  }

  #cardimg img {
    height: 100%;
    max-width: 100%;
    min-width: 100%;
    width: 100%;
  }
  #buttonaddress {
    margin-top: 0px !important;
    margin-left: 3vw;
  }
  #textimg {
    height: 40px;
    margin-left: 30px;
    width: 80%;
  }
  #addressbtndiv {
    display: flex;
    position: relative;
    top: 15px;
  }
}

/* **************************************************** */

@media screen and (max-width: 1441px) and (min-width: 1200px) {
  .circletopleft {
    border: none;
    width: 14vw;
    /* margin-top: 19px; */
    margin-top: 65px;
    margin-left: 6vw;
    margin-right: 0px;
    height: 14vw;
  }

  #frontimgdiv {
    height: 23.4vh;
  }

  #frontcardimg {
    height: 100%;
  }

  #fronttext {
    border: 1px solid black;
  }

  #fronttext h5 {
    padding: 2%;
  }

  #contactnumberdiv {
    display: flex;
  }

  .circletopleft img {
    max-width: 100%;
    min-height: 100%;
    width: 100%;
  }

  .circletopright {
    border: none;
    max-width: 100%;
    margin-bottom: 35px;
    width: 14vw;
    margin-left: 6vw;
    height: 14vw;
  }

  .circletopright img {
    max-width: 100%;
    min-height: 100%;
    width: 100%;
  }

  #maindiv {
    height: auto;
  }

  #cardimg img {
    height: 100%;
    max-width: 100%;
    min-width: 100%;
    width: 100%;
  }

  #buttonaddress {
    margin-top: 0px !important;
    margin-left: 30px;
  }

  #textimg {
    height: 40px;
    margin-left: 20px;
    width: 80%;
  }

  #addressbtndiv {
    display: flex;
    position: relative;
    top: 10px;
  }

  #x {
    position: relative;
    top: 70.8px;

    height: 20px;
    overflow: hidden;
  }

  #lefteb {
    height: 16.8px;
    width: 8px;
    background-color: black;
    /* background-image: url(./components/images/lefteyeball.png); */
    position: relative;
    top: 2px;
    border-radius: 50%;
    left: 70px;
  }

  #righteb {
    height: 16.5px;
    width: 8px;
    background-color: black;
    border-radius: 50%;
    position: relative;
    top: -14px;
    left: 101.5px;
  }
}

/* **************************************************** */

@media screen and (max-width: 1200px) and (min-width: 1024px) {
  html,
  body {
    overflow-y: scroll;
  }

  /* #leftrightimg {
    max-width: 100%;
    min-height: 100%;
    height: inherit;
    width: 9.02vw;
  } */

  .circletopleft {
    border: none;
    width: 16vw;
    margin-top: 50px;
    margin-left: 6vw;
    margin-right: 0px;
    height: 16vw;
  }

  .circletopleft img {
    max-width: 100%;
    min-height: 100%;
    width: 100%;
  }

  .circletopright {
    border: none;
    max-width: 100%;
    margin-top: 50px;
    width: 16vw;
    margin-left: 5vw;
    height: 16vw;
  }

  .circletopright img {
    max-width: 100%;
    min-height: 100%;
    width: 100%;
  }

  #maindiv {
    height: auto;
  }

  /* Bottom cards */
  #cardDiv {
    background-color: #304fad;
    display: flex;
  }

  #Cards {
    width: 16.665%;
  }

  #cardimg img {
    max-width: 100%;
    min-height: 100%;
    width: 100%;
  }
  #Cards {
    height: 50vh;
  }

  #buttonaddress {
    margin-top: 0px !important;
    margin-left: 30px;
  }

  #textimg {
    height: 40px;
    margin-left: 20px;
    width: 80%;
  }

  #addressbtndiv {
    display: flex;
    position: relative;
    top: 10px;
  }

  #frontimgdiv {
    height: 20vh;
  }

  #frontcardimg {
    height: 100%;
  }

  #x {
    /* border: 3px solid darkblue; */
    position: relative;
    top: 56.9px;
    height: 16px;

    overflow: hidden;
  }

  #lefteb {
    height: 13.8px;
    width: 6px;
    background-color: black;
    /* background-image: url(./components/images/lefteyeball.png); */
    position: relative;
    top: 3px;
    border-radius: 50%;
    left: 58.5px;
  }

  #righteb {
    height: 14.5px;
    width: 5.8px;
    background-color: black;
    border-radius: 50%;
    position: relative;
    top: -11px;
    left: 83.5px;
  }
}

/* **************************************************** */

@media screen and (max-width: 1024px) and (min-width: 900px) {
  html,
  body {
    overflow-y: scroll;
  }

  .circletopleft {
    border: none;
    width: 16vw;
    margin-top: 50px;
    margin-left: 6vw;
    margin-right: 0px;
    height: 16vw;
  }

  .circletopleft img {
    max-width: 100%;
    min-height: 100%;
    width: 100%;
  }

  .circletopright {
    border: none;
    max-width: 100%;
    margin-top: 50px;
    width: 16vw;
    margin-left: 5vw;
    height: 16vw;
  }

  .circletopright img {
    max-width: 100%;
    min-height: 100%;
    width: 100%;
  }

  #toprightdiv {
    width: 500px;
  }

  /* Bottom cards */
  #cardDiv {
    display: flex;
  }

  #Cards {
    width: 16.667%;
  }

  #cardimg img {
    max-width: 100%;
    min-height: 100%;
    width: 100%;
  }

  #cardimg {
    height: 100%;
  }

  #Cards {
    height: 32vh;
  }

  #buttonaddress {
    margin-top: -20px !important;
    margin-left: 30px;
  }

  #textimg {
    height: 40px;
    width: 70%;
    word-wrap: break-word;
    margin-left: 40px;
  }

  #contact {
    margin-left: 15vw;
  }

  #social_icons {
    width: 16%;
  }

  #belowtopleftcontactdiv {
    height: 17vh;
    margin-top: 4px;
    width: 90%;
  }

  #addressbtndiv {
    display: flex;
    position: relative;
    top: 15px;
  }

  /* #frontimgdiv {
    height: 22vh;
  }

  #frontcardimg {
    height: 100%;
  } */
}

/* **************************************************** */

/* Responsive for 600-900px */
@media screen and (max-width: 900px) and (min-width: 769px) {
  html,
  body {
    overflow-y: scroll;
  }

  .circletopleft {
    border: none;
    width: 18vw;
    margin-top: 30px;
    margin-left: 4vw;
    margin-right: 0px;
    height: 18vw;
  }

  /* #leftrightimg {
    max-width: 100%;
    min-height: 100%;
    /* height: inherit;
    width: 13.02vw; */
  /* }  */

  #topleftimg {
    display: flex;
    height: 55%;
  }

  #topleftcontactdiv {
    height: auto;
    display: flex;
    border: 1px solid black;
    height: 50%;
  }

  .circletopleft img {
    max-width: 100%;
    min-height: 100%;
    width: 100%;
  }

  .circletopright {
    border: none;
    max-width: 100%;
    margin-top: 3 0px;
    width: 18vw;
    margin-left: 4vw;
    height: 18vw;
  }

  .circletopright img {
    max-width: 100%;
    min-height: 100%;
    width: 100%;
  }

  #cardDiv {
    display: flex;
  }

  #cardimg {
    height: 100%;
  }

  #Cards {
    width: 33.31%;
  }

  #Cards {
    height: 50vh;
  }

  #cardimg img {
    width: 100%;
    height: 10vh;
    max-width: 100%;
    min-height: 100%;
  }

  #buttonaddress {
    margin-top: 0px !important;
    margin-left: 30px;
    height: 40px;
    padding-left: 100px;
  }

  #contact {
    padding-left: 80px;
  }

  #textimg {
    height: 40px;
    margin-left: 20px;
    width: 80%;
  }

  #addressbtndiv {
    display: inline-block;
    position: relative;
    top: 10px;
    text-align: center;
  }

  #facebookimg,
  #instagramimg {
    height: 2.5vw;
    width: 1vw;
    margin-top: 5.5vh;
    margin-left: 1.3vh;
    min-width: 50%;
    max-height: 100%;
  }

  #lefteb {
    height: 10.5px;
    width: 8px;
    background-color: black;
    border-radius: 50%;
    position: relative;
    top: -118px;
    left: 82px;
  }

  #righteb {
    border-radius: 50%;
    position: relative;
    top: -118px;
    left: 82px;
  }

  /* #frontimgdiv {
    height: 22vh;
  }

  #frontcardimg {
    height: 100%;
  } */
}

/* ******************************** */

/* Responsive for 600-768px */
@media screen and (max-width: 768px) and (min-width: 600px) {
  html,
  body {
    overflow-y: scroll;
  }

  #x {
    height: 10px;
    margin-top: 41px;
  }

  #buttonaddress {
    margin-top: -22px !important;
    margin-left: 110px;
    margin-bottom: 10px;
  }

  #topleftcontactdiv {
    height: auto;
    display: flex;
    border: 1px solid black;
    height: 42%;
  }

  #topleftcontactdiv h2 {
    margin-left: -20px;
    top: -20px;
  }

  #textdiv {
    top: -8px;
  }

  #textimg {
    overflow: hidden;
    height: 40px;
    margin-left: 7vw;
    width: 70%;
  }

  #social_icons {
    width: 10%;
  }

  #topleftimg {
    display: flex;
    height: 58%;
  }

  #facebookimg,
  #instagramimg {
    height: 2.5vw;
    width: 1vw;
    margin-top: 5.5vh;
    margin-left: 1.3vh;
    min-width: 50%;
    max-height: 100%;
  }

  #facebook {
    background-size: 50%;
  }

  #contact {
    padding-left: 50px;
  }

  #addressbtndiv {
    display: inline-block;
    position: relative;
    top: 10px;
  }

  .circletopleft {
    border: none;
    width: 16vw;
    margin-top: 40px;
    margin-left: 7vw;
    margin-right: 0px;
    height: 16vw;
  }

  .circletopleft img {
    max-width: 100%;
    min-height: 100%;
    width: 100%;
  }

  .circletopright {
    border: none;
    max-width: 100%;
    margin-top: 40px;
    width: 16vw;
    margin-left: 3vw;
    height: 16vw;
  }

  .circletopright img {
    max-width: 100%;
    min-height: 100%;
    width: 100%;
  }

  #cardDiv {
    display: flex;
  }

  #cardimg {
    height: 100%;
  }

  #Cards {
    width: 33.32%;
  }

  #Cards {
    height: 50vh;
  }

  #cardimg img {
    width: 100%;
    height: 42vh;
    max-width: 100%;
    min-height: 100%;
  }

  #imgandtext {
    border: 1px solid black;
  }

  #lefteb {
    margin-left: 43.5px;
    margin-top: 7.8vh !important;
    height: 10.5px;
    background-color: black;
    width: 5px;
    border-radius: 50%;
  }

  #righteb {
    height: 9.5px;
    width: 4.7px;
    position: relative;
    background-color: black;
    left: 62.2px !important;
    top: -1.75vh !important;
    border-radius: 50%;
  }

  /* #frontimgdiv {
    height: 22vh;
  }

  #frontcardimg {
    height: 100%;
  } */
}

/* Responsive for 451-600px */
@media screen and (max-width: 600px) and (min-width: 451px) {
  html,
  body {
    overflow-y: scroll;
  }

  .circletopleft {
    border: none;
    width: 20vw;
    margin-top: 50px;
    margin-left: 3vw;
    margin-right: 0px;
    height: 20vw;
  }

  /* #leftrightimg {
    max-width: 100%;
    min-height: 100%;
    height: inherit;
    width: 35.02vw;
  } */

  #contact {
    margin-bottom: 0px !important;
    padding-top: 12px;
    margin-left: 20px;
  }

  #buttonaddress {
    margin-top: 0px !important;
    margin-left: 20px;
  }

  #textimg {
    height: 8vh;
    width: 35vw;
    margin-left: 0px !important;
  }

  #social_icons {
    display: none;
  }
  #topleftimg {
    display: flex;
    height: 50%;
  }

  #topleftcontactdiv {
    height: auto;
    display: flex;
    height: 50%;
  }

  #textdiv {
    margin-left: 30px;
  }

  #addressbtndiv {
    display: inline-block;
    position: relative;
    top: 30px;
  }

  .circletopleft img {
    max-width: 100%;
    min-height: 100%;
    width: 100%;
  }

  .circletopright {
    border: none;
    max-width: 100%;
    margin-top: 50px;
    width: 17vw;
    margin-left: 2vw;
    height: 17vw;
  }

  .circletopleft {
    border: none;
    width: 17vw;
    margin-top: 50px;
    margin-left: 3vw;
    margin-right: 0px;
    height: 17vw;
  }

  .circletopright img {
    max-width: 100%;
    min-height: 100%;
    width: 100%;
  }

  #cardDiv {
    display: flex;
  }

  #Cards {
    width: 33.33%;
  }

  #cardimg img {
    width: 100%;
    max-width: 100%;
    min-height: 100%;
  }

  /* #frontimgdiv {
    height: 22vh;
  }

  #frontcardimg {
    height: 100%;
  } */
}

/* **************************************************** */
@media screen and (max-width: 451px) and (min-width: 385px) {
  html,
  body {
    overflow-y: scroll;
  }

  #topflex {
    display: block;
  }

  #contactnumberdiv {
    display: inline-block;
    background-color: aliceblue;
    border: 1px solid black;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
  }

  #buttonaddress {
    margin-top: 0px !important;
    margin-left: 21vw;
  }

  #topleftimg {
    height: 73vw;
    margin-right: 22.3%;
  }

  #social_icons {
    display: none;
  }

  .sidetextdiv {
    display: block;
  }

  #topleftimg {
    display: block;
  }

  .circletopright {
    display: none;
  }

  /* Top image  ***** */

  .imgcircle {
    max-width: 100%;
    max-height: 100%;
  }

  #circletopleft {
    transform: rotate(0deg) !important;
    border: none;
  }

  .circletopleft {
    background-color: aquamarine;
    border: none;
    margin-left: 20.8vw;
    margin-top: 50px;
    width: 50vw;
    height: 50vw;
  }

  #circleindex {
    max-width: 100%;
    max-height: 100%;
  }

  #topleftdiv {
    width: 100%;
  }

  /* ***** ContactNumber and addressdiv  *****  */
  #contact {
    max-width: 100%;
    min-width: 79%;
    margin-left: 8vw !important;
    display: block;
  }
  #addressbtndiv {
    display: inline !important;
  }

  #btndiv {
    display: inline-block !important  ;
    width: 100%;
  }

  #textimg {
    margin-top: 10px;
    max-width: 100%;
    margin-left: 30px;
    /* background-image: url("./components//images/textbelowcontact380.png"); */
    width: 80%;
  }

  #topleftcontactdiv {
    height: 70vw;
    border: none;
  }

  #addressbtndiv #textdiv {
    display: inline !important;
    height: 100vw !important;
    width: 100%;
  }

  /* *********** */

  /* ******* TOp right div */
  #toprightdiv {
    border: 1px solid black;
    max-width: 100%;
    min-width: 100%;
    height: 300px;
  }
  #cardDiv {
    display: flex;
  }

  #cardimg {
    height: 100%;
  }

  #Cards {
    width: 100%;
    height: 70vh;
  }

  #cardimg img {
    width: 100%;
    height: 10vh;
    max-width: 100%;
    min-height: 100%;
  }

  #lefteb {
    left: 96.5px !important;
    top: -29.9vh !important;
    height: 18.5px;
    width: 13px;
    border-radius: 50%;
  }

  #righteb {
    height: 18.5px;
    width: 13px;
    left: 138.7px !important;
    top: -33.3vh !important;
    border-radius: 50%;
  }

  /* #frontimgdiv {
    height: 22vh;
  }

  #frontcardimg {
    height: 100%;
  } */
}

@media screen and (max-width: 385px) and (min-width: 320px) {
  /* ********** */

  html,
  body {
    overflow-y: scroll;
  }

  #maindiv {
    background-color: #ededed;
  }

  #topflex {
    display: block;
    height: auto;
  }

  #topleftdiv {
    width: 100%;
  }

  .circletopright {
    display: none;
  }

  #topleftimg {
    height: 100vw;
    margin-right: 23%;
  }

  #circleindex {
    max-width: 100%;
    max-height: 100%;
  }

  #buttonaddress {
    margin-top: 15px !important;
    margin-left: 24vw;
    height: 100%;
  }

  #leftrightimg {
    max-width: 100%;
    height: 92vh;
    top: 4vh;
    z-index: 1;
    width: 8vw;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }

  #leftrightimg1 {
    position: fixed;
    right: 0;
    top: 4vh;
    height: 92vh;
    z-index: 1;
    width: 8vw;
    background-image: url(/static/media/leftmargin.a725d47d.png);
    background-size: cover;
    /* background-repeat: repeat; */
  }

  /* ***** ContactNumber and addressdiv  *****  */

  #contactnumberdiv {
    display: inline-block;
    background-color: aliceblue;
    border: 1px solid black;
    padding-top: 15px;
    margin-left: 4vw;
    padding-bottom: 3px;
    width: 100%;
  }

  #topbottom,
  #topbottom1 {
    z-index: 1;
    background-size: 40% 30px;
  }

  #contact {
    max-width: 100%;
    min-width: 80%;
    margin-left: 40px !important;
    display: block;
  }

  #addressbtndiv {
    display: inline !important;
  }

  #btndiv {
    display: inline-block !important;
    width: 100%;
    height: 6vh;
  }

  #textimg {
    margin-top: 90px;
    overflow: hidden;
    word-break: break-word;
    width: 77%;
    height: 23vh;
    margin-left: 19vw;
    /* font-size: calc(0.3vw + 0.5vh + 0.5vmin); */
    font-size: small;
  }

  #topleftcontactdiv {
    height: 52vh;
    border: none;
  }

  #addressbtndiv #textdiv {
    display: inline !important;
    height: 100vw !important;
    width: 100%;
  }

  .lrroot {
    background-color: aquamarine;
  }

  /* ******* TOp right div */
  #toprightdiv {
    border: 1px solid black;
    max-width: 100%;
    min-width: 100%;
    height: 40vh;
  }

  /* *********** */

  .circletopleft {
    border: none;
    max-width: 100%;
    margin-top: 30px;
    margin-left: 23vw;
    width: 70vw;
    height: 49vw;
  }

  #topleftcontactdiv h2 {
    word-wrap: break-word;
    position: relative;
    font-size: large;
    margin-left: 50px;
    top: -12px;
    margin-bottom: 0px;
  }

  #topleftimg {
    height: 70vw;
    margin-right: 25%;
  }

  #cardDiv {
    display: flex;
  }

  #cardimg {
    width: 88%;
    margin: auto;
  }

  #Cards {
    width: 100%;
  }

  #Cards {
    height: 54.5vh;
  }

  #cardimg img {
    width: 100%;
    height: 48vh;
    margin-bottom: -4px;
  }

  #lefteb {
    left: 84.5px !important;
    top: -26vh !important;
    height: 15.5px;
    width: 11px;
    border-radius: 50%;
  }

  #righteb {
    height: 14.5px;
    width: 11px;
    left: 120.7px !important;
    top: -28.8vh !important;
    border-radius: 50%;
  }
  #social_icons {
    display: none;
  }
}
